@{
    ViewData["Title"] = "Home Page";
    }
@model IEnumerable<Avatar.Models.Fighters>
<div>   
    <a asp-controller="Fighter" asp-action="Index" class="card bg-secondary mb-3" style="max-width: 20rem;"> My Fighters</a>
  
 </div>

 <div>


     Hey guys I was thinking of having big button/ card that you select to navigate to another page rather than having a nav bar .

     I have added a create page , just need to do a update action
 </div>